* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 0px;
  background-color: #28364e;
  overflow: auto;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(112, 14, 87, 0.45702030812324934) 74%,
    rgba(0, 212, 255, 1) 100%
  );
}
.header {
  margin-top: 40px;
}
.body {
  margin-top: 50px;
}

input:focus {
  outline: none;
}
.inputbox {
  margin-bottom: 20px;
  width: 50vw;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
#add {
  margin-bottom: 20px;
  padding: 9.89px;
  border-radius: 5px;
  margin-left: 5px;
}
.todo ul {
  list-style: none;
}
.toDo-list {
  border-bottom: 1px solid khaki;
  margin-bottom: 10px;
  padding: 5px px;
  font-size: larger;
  color: white;
}
.checkbox {
  margin-right: 10px;
  padding: 3px;
}
.delete {
  float: right;
  color: white;
  background-color: rgb(43, 109, 139);
  padding: 2px;
}
.edit {
  float: right;
  color: white;
  background-color: rgb(184, 166, 64);
  margin-right: 1px;
  padding: 2px 10px;
}
.strike {
  text-decoration: line-through;
  border-bottom: 1px solid khaki;
  margin-bottom: 5px;
  padding: 5px 0;
  color: white;
}

.removeStrike {
  text-decoration: none;
  border-bottom: 1px solid khaki;
  margin-bottom: 5px;
  padding: 5px 0;
  color: white;
}
